* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(ASSETS/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 766px;
    position: relative;
}

.main .box {
    height: 766px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    height: 100px;
    margin: auto;
}

nav img {
    color: rgb(255, 0, 0);
    width: 230px;
    position: relative;
    z-index: 10;
    filter: contrast(50);
}

.btn {
    position: relative;
    z-index: 10;
}

.sign {
    background-color: red;
    border-radius: 7px;
    color: white;
    padding: 9px;
    margin: 15px;
    font-size: 15px;
    font-weight: bolder;
    border: none;
}

.lang {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: larger;
    border-radius: 9px;
}

.content {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 200px;
    gap: 20px;
}

.content h1 {
    z-index: 10;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content p {
    z-index: 10;
    font-size: 30px;
    color: white;
    margin: auto;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail input {
    position: relative;
    z-index: 10;
    border: 3px solid white;
    background-color: rgba(70, 90, 126, 0.4);
    color: white;
    padding: 15px;
    font-size: 30px;
    border-radius: 3px;
}

.mail button {
    position: relative;
    z-index: 10;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 15px;
    margin: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}


.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secImg {
    position: relative;
}
.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.extra{
    display: flex;
    align-items: center;
    justify-content: center;
}
#last {
    margin: 30px;
}

